/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --main-color: #19c8fa;
    --secound-color: #777777;
    --over-color: rgb(0 0 0 / 60%);
    --line-height: 2;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

ul {
    list-style: none;
}

/* Start Main Header */
.main-header {
    text-align: center;
}

.main-header h2 {
 text-transform: uppercase;
 font-size: 40px;
 font-weight: 400;
 margin: 0 0 70px;
 position: relative;
}

.main-header h2:before {
    content: "";
    width: 120px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.main-header h2:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #333333;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -41px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.main-header h2 + p {
    width: 550px;
    max-width: 100%;
    color: var(--secound-color);
    line-height: var(--line-height);
    margin: 0 auto 100px;
}
/* End Main Header */
/* Small Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header Section */
header {
    position:absolute;
    left:0;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

header .container:before {
    content: '';
    width: calc(100% - 40px);
    border-bottom: 1px solid #a2a2a2;
    position: absolute;
    bottom: 0;
}

header .container .logo img {
    height: 40px;
}

header .container nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    color: white;
}

header .container nav .fa-bars {
    display: none;
    font-size: 22px;
    font-weight: 900;
    padding-right: 15px;
}

header .container nav ul {
    display: flex;
    padding-right: 15px;
}

header .container nav ul a {
    display: block;
    text-decoration: none;
    padding-right: 15px;
    color: white;
    position: relative;
    font-size: 14px;
}

header .container nav ul a:hover {
    color: var(--main-color);
}

header .container nav ul a:hover::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    position:absolute;
    bottom: -44px;
}

@media (max-width: 767px) {
    header .container nav .fa-bars {
        display: block;
    }

    header .container nav ul {
        display: none;
    }

    header .container nav:hover  ul {
        display: flex;
        flex-wrap: wrap;
        position:absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: var(--over-color);
    }

    header .container nav:hover ul li {
        width: 100%;
    }

    header .container nav:hover ul li a {
        display: block;
        font-size: 20px;
        padding: 10px;
        margin-bottom: 10px;
    }

    header .container nav:hover ul li a::before {
        bottom: 0;
    }
}
/* End Header Section */
/* Start Landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.landing .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--over-color);
}

.landing .text {
    padding: 50px;
    color: white;
    background-color: rgb(15 116 143 / 70%);
    position:absolute;
    left:0;
    top: 50%;
    width: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}

.landing .text h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 20px;
}

.landing .text p {
    font-size: 14px;
    line-height: var(--line-height);
}

.landing i:first-of-type {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #ddd;
}

.landing i:last-of-type {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    color: #ddd;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }

    .landing i {
        display: none;
    }
}

.landing ul {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--main-color);
    margin-right: 10px;
}

.landing .active {
    background-color: var(--main-color);
}
/* End Landing */

/* Start Services */
.services {
    padding: 100px 0;
}

.services .srv-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    row-gap: 60px;
    column-gap: 40px;
}

.services .srv-content .srv-box {
    display: flex;
    text-align: left;
}

.services .srv-content .srv-box i {
    margin-right: 50px;
}

.services .srv-content .srv-box .text h3 {
    font-size: 19px;
    font-weight: 700;
    color: var(--main-color);
    padding-bottom: 30px;
}

.services .srv-content .srv-box .text p {
    color: var(--secound-color);
    line-height: var(--line-height);
}

@media (max-width: 767px) {
    .services .srv-content .srv-box {
        flex-direction: column;
        text-align: center;
    }

    .services .srv-content .srv-box i {
        margin: 0 0 30px;
    }
}
/* End Services */